<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="copylocation" value="F:\FaithUnion\App\DeffinityFirstDataDev\DeffinityAppAdmin\WF\UploadData" />
    <add key="ErrorNotePad" value="C:\winservice\Error1.txt" />
    <add key="Filepath" value="C:\Deffinity\PlegitDB\DeffinityAppDev\WF\UploadData\Campaign\Attachments\TemplateID" />
    <add key="fromemail" value="info@deffinity.com" />
    <add key="userid" value="devmail@deffinity.com" />
    <add key="pwd" value="6ghyG4nCXu3FAxAK" />
    <add key="host" value="212.227.15.179" />
    <add key="DBstring" value="Data Source=DESKTOP-OKF5TSG\SQLEXPRESS;Initial Catalog=plegitdb;User Id=new;Password=new;Pooling=true;Max Pool Size=100;Min Pool Size=0;timeout=60;TrustServerCertificate=True;" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="None" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="LocalUrl" value="http://localhost:55586" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="FromEmailID" value="info@deffinity.com" />
    <add key="Weburl" value="http://dev1.deffinity.com" />
    <add key="site" value="dev1.deffinity.com" />
    <add key="PageTitle" value="Dev1" />
    <add key="user" value="new" />
    <add key="password" value="new" />
    <add key="server" value="DESKTOP-OKF5TSG\SQLEXPRESS" />
    <add key="database" value="PlegitDB" />
    <add key="maillogo" value="/WF/MailLogo/deffinity_emailer_logo.png" />
    <add key="mailboarder" value="/WF/MailLogo/border.gif" />
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />
    <add key="stringdateformat" value="{0:dd/MM/yyyy}" />
    <add key="stringtimeformat" value="{0:HH:mm}" />
    <add key="stringtimeformat12" value="{0:hh:mm}" />
    <add key="stringdatetimeformat" value="{0:dd/MM/yyyy hh:mm tt}" />
    <add key="datetimeformat" value="dd/mm/yyyy hh:mm tt" />
    <add key="fulldatetimeformat" value="dd/MM/yyyy HH:mm:ss.fffff" />
    <add key="dateformat" value="dd/MM/yyyy" />
    <add key="timeformat" value="HH:mm" />
    <add key="timeformat12" value="hh:mm" />
    <!--PayPal access credentials. Create a PayPal payment gateway account to get these credentials-->
    <add key="USER" value="LHGDemoNew" />
    <add key="VENDOR" value="LHGDemoNew" />
    <add key="PARTNER" value="PayPal" />
    <add key="PWD" value="LHGDemo123" />
    <!--<add key="USER" value="LibertyHomeGuard"/>
    <add key="VENDOR" value="LibertyHomeGuard"/>
    <add key="PARTNER" value="PayPal"/>
    <add key="PWD" value="100mmcorvette"/>-->
    <!-- Payflow Pro Host Name. This is the host name for the PayPal Payment Gateway.
  
        For testing:   pilot-payflowpro.paypal.com.
        For production: payflowpro.paypal.com
      -->
    <add key="PAYFLOW_HOST" value="pilot-payflowpro.paypal.com" />
    <!-- TRACE value when set to ON will show the 
          complete exception stack trace in the response message, if any.
            Change TRACE value to "ON" to switch on the stack trace in response message.-->
    <add key="TRACE" value="OFF" />
    <!-- This is a LOG level tag.To switch on logging change the logger level from "OFF" to any of the following:
      a. DEBUG
      b. INFO
      c. WARN
      d. ERROR
      e. FATAL
      -->
    <add key="LOG_LEVEL" value="OFF" />
    <!-- Relative path for LOG file. -->
    <add key="LOG_FILE" value="logs\PayflowSDK.log" />
    <!-- Log file filesize constant. -->
    <add key="LOGFILE_SIZE" value="102300" />
    <add key="CCEmailAddress" value="k.indrasenareddy@gmail.com" />
    <add key="directUrl" value="https://gw1.tponlinepayments.com/direct/" />
    <add key="hostedUrl" value="https://gw1.tponlinepayments.com/paymentform/" />
    <add key="StripeSecretKey" value="sk_test_51M90vESEzdqVp8IHBkqUWoXXAGxuRgSZ2Hc1qvhiIHuHjYyS5mfJj2RWoopNMGVbGj1BlCxWBWBVGy64MRb37zkp00YEKCJwYG" />
    <add key="StripePublishableKey" value="pk_test_51M90vESEzdqVp8IHIMsjyEyv3Ga3JfURTzThNf1pGJRrKfcCI3zleFVJO2gsaRSefxpEMvEHgV2GRRL8AcbRTRxq00jxnyTxsx" />
    <add key="MerchantId" value="10028239" />
    <add key="MerchantKey" value="e6y8289zjke4t" />
    <add key="PassPhrase" value="salt" />
    <add key="ProcessUrl" value="https://sandbox.payfast.co.za/eng/process?" />
    <add key="ValidateUrl" value="https://sandbox.payfast.co.za/eng/query/validate" />
    <add key="ReturnUrl" value="http://localhost:51382/App/TestReturn.aspx" />
    <add key="CancelUrl" value="http://localhost:51382/App/cancel" />
    <add key="NotifyUrl" value="http://localhost:51382/App/notify" />
  </appSettings>
  <connectionStrings>
    <add name="GanttEntities" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-OKF5TSG\SQLEXPRESS;Initial Catalog=PlegitDB;User Id=new;Password=new;MultipleActiveResultSets=True;TrustServerCertificate=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBstring" connectionString="Data Source=DESKTOP-OKF5TSG\SQLEXPRESS;Password=new;User Id=new;Initial Catalog=PlegitDB;Pooling=true;Max Pool Size=100;Min Pool Size=0;timeout=60;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DBstring" connectionString="Data Source=DESKTOP-OKF5TSG\SQLEXPRESS;Initial Catalog=PlegitDB;Persist Security Info=True;User Id=new;Password=new;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="PlegitDBConnectionString" connectionString="Data Source=DESKTOP-OKF5TSG\SQLEXPRESS;Initial Catalog=plegitdb;Persist Security Info=True;User ID=new;Password=new;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="10" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <!--<add assembly="AjaxControlToolkit, Version=4.1.60501.0, Culture=neutral, PublicKeyToken=28F01B0E84B6D53E" />-->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /
        <add assembly="ClosedXML, Version=0.95.4.0, Culture=neutral, PublicKeyToken=fd1eb21b62ae805b" />>-->
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms defaultUrl="~/Default.aspx" loginUrl="~/Default.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
      <!--<allow users="*"/>-->
    </authorization>
    <httpHandlers>
      <!--<add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" />
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=22.1460.34, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </httpHandlers>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5.1" maxRequestLength="4096000" executionTimeout="360" />
    <pages theme="Theme1">
      <controls>
        <add tagPrefix="Pref" tagName="ProjectRef" src="~\WF\Projects\Controls\ProjectRef.ascx" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <customErrors mode="RemoteOnly">
      <error statusCode="500" redirect="~/WF/Message.aspx" />
      <error statusCode="404" redirect="~/WF/PageNotfound.aspx" />
    </customErrors>
    <siteMap defaultProvider="AdminSiteMap" enabled="true">
      <providers>
        <add name="AdminSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
        <add name="CustomerSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="WebCustomer.sitemap" securityTrimmingEnabled="true" />
        <remove name="MySqlSiteMapProvider" />
      </providers>
    </siteMap>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" enableSsl="true" defaultCredentials="false" userName="developer@smartgiving.app" password="85xkfBp#FF" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
    </modules>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=22.1460.34, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".axd" allowed="true" />
        </fileExtensions>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="Home">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Org">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="api">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="OrgHome.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WF/Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WF/payinvoice/PaymentProcess.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ResetPasswordNew.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PaySuccess.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="OrgHomeNewV2.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PayResult.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Register">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PayProcess.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="EventDetailsNew.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ManageTicketsNew.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="App/Events/TicketDetails.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="web">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AjaxFileUploadHandler.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="assets/banners">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="manifest.json">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="serviceworker.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Registration">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Registration.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="App/FundraiserListView.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="FundraiserView.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="FileDataHandler.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ImageHandler.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="StripeWebhook.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ActivatePlegit.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Activate">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Activate.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Webhook">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="testmsg1.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="assets">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.1.0.0" newVersion="20.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-27.1462.52.0" newVersion="27.1462.52.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" useStaticResources="true" renderStyleLinks="false" />
</configuration>