body
{
	font-size: 0.7em;
	font-family: Tahoma;
	background-color: lightgrey;
}

.tdHighlight
{
	background-color: White;
	padding: 8px;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}

.dialogHeader 
{
	padding-left: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	font-size: 110%;
	color: white;
	font-family: Verdana;
	background-color: #7C6F57;
}

.closeIcon
{
	background-position: right top;
	background-image: url(../Images/close_icon.gif);
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
	width: 19px;
	top: 1px;
	height: 19px;
	right: 1px;
}

.updateProgress
{
	position: absolute;
	background-color: #fff;
	filter: alpha(opacity=70);
	MozOpacity: 0.7;
	opacity: 0.7;
	padding: 0px;
	margin: 0px;
}
.updateProgress div
{
	background-color: white;
	padding: 4px;
	position: absolute;
	top: 10%;
	left: 50%;
}

