<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="owin:appStartup" value="DeffinityAppDev.App_Start.Startup" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="None" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="LocalUrl" value="http://localhost:55586" />
    <add key="FromEmailID" value="info@deffinity.com" />
    <add key="Weburl" value="http://dev1.deffinity.com" />
    <add key="site" value="dev1.deffinity.com" />
    <add key="PageTitle" value="Dev1" />
    <add key="user" value="sa" />
    <add key="password" value="ems" />
    <add key="server" value="EMS-PC\SQLEXPRESS2014" />
    <add key="database" value="DeffinityLibertyDevNew" />
    <add key="maillogo" value="/WF/MailLogo/deffinity_emailer_logo.png" />
    <add key="mailboarder" value="/WF/MailLogo/border.gif" />
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />
    <add key="stringdateformat" value="{0:MM/dd/yyyy}" />
    <add key="stringtimeformat" value="{0:HH:mm}" />
    <add key="stringdatetimeformat" value="{0:MM/dd/yyyy HH:mm}" />
    <add key="datetimeformat" value="MM/dd/yyyy HH:mm" />
    <add key="fulldatetimeformat" value="MM/dd/yyyy HH:mm:ss.fffff" />
    <add key="dateformat" value="MM/dd/yyyy" />
    <add key="timeformat" value="HH:mm" />
    <add key="DBstring" value="Data Source=EMS-PC\SQLEXPRESS4;Initial Catalog=XactNew;User Id=sa;Password=ems;Pooling=true;Max Pool Size=100;Min Pool Size=0;timeout=60" />
    <add key="DBCentral" value="Data Source=EMS-PC\SQLEXPRESS4;Initial Catalog=DBCentral;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="DBstringOLEDB" connectionString="Data Source=EMS-PC\SQLEXPRESS4;Password=ems;User ID=sa;Initial Catalog=XactDemo1;Provider=SQLOLEDB"
      providerName="System.Data.OleDb" />
    <add name="DBstring" connectionString="Data Source=EMS-PC\SQLEXPRESS4;Password=ems;User ID=sa;Initial Catalog=XactNew;Pooling=true;Max Pool Size=100;Min Pool Size=0;timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DBstring" connectionString="Data Source=EMS-PC\SQLEXPRESS4;Initial Catalog=XactNew;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DBCentral" connectionString="Data Source=EMS-PC\SQLEXPRESS4;Initial Catalog=DBCentral;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DBAssetsGenString"
      connectionString="Data Source=69.41.185.219;Initial Catalog=Gendata;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityEflairConnectionString"
      connectionString="Data Source=.;Initial Catalog=DeffinityEflair;Persist Security Info=True;User ID=sa1;Password=ems"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityConnectionString"
      connectionString="Data Source=69.41.185.219;Initial Catalog=DeffinityEflair;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.XactDemo1DineshConnectionString2"
      connectionString="Data Source=EMS-62-PC\SQLSERVER2012;Initial Catalog=XactDemo1Dinesh;Persist Security Info=True;User ID=sa;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityEflairConnectionString1"
      connectionString="Data Source=EMS-PC\SQLEXPRESS4;Initial Catalog=DeffinityEflair;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityEflairConnectionString2"
      connectionString="Data Source=EMS-PC\SQLEXPRESS4;Initial Catalog=DeffinityEflair;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityEflairConnectionString3"
      connectionString="Data Source=EMS-PC\MSSQL2012;Initial Catalog=DeffinityEflair;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityEflairConnectionString4"
      connectionString="Data Source=EMS-PC\SQLEXPRESS4;Initial Catalog=DeffinityEflair;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.XactDemo1ConnectionString"
      connectionString="Data Source=EMS-PC\SQLEXPRESS4;Initial Catalog=XactDemo1;Persist Security Info=True;User ID=sa;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.XactDemoDineshConnectionString2"
      connectionString="Data Source=EMS-62-PC\SQLSERVER2012;Initial Catalog=XactDemoDinesh;Persist Security Info=True;User ID=sa;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.XactDemoConnectionString"
      connectionString="Data Source=EMS-PC\SQLEXPRESS4;Initial Catalog=XactDemo;Persist Security Info=True;User ID=sa;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.XactNewConnectionString"
      connectionString="Data Source=EMS-PC\SQLEXPRESS4;Initial Catalog=XactNew;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.XactNewConnectionString1"
      connectionString="Data Source=EMS-PC\SQLEXPRESS4;Initial Catalog=XactNew;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityLibertyConnectionString"
      connectionString="Data Source=EMS-PC\SQLEXPRESS4;Initial Catalog=DeffinityLibertyDev;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityLibertyDevConnectionString"
      connectionString="Data Source=EMS-PC\SQLEXPRESS;Initial Catalog=DeffinityLibertyDev;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityLibertyDevConnectionString1"
      connectionString="Data Source=EMS-PC\SQLEXPRESS2014;Initial Catalog=DeffinityLibertyDev;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityLibertyDevNewConnectionString"
      connectionString="Data Source=EMS-PC\SQLEXPRESS2014;Initial Catalog=DeffinityLibertyDevNew;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityFirstDataConnectionString"
      connectionString="Data Source=EMS-PC\SQLEXPRESS2014;Initial Catalog=DeffinityFirstData;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityFirstDataConnectionString1"
      connectionString="Data Source=EMS-PC\SQLEXPRESS2014;Initial Catalog=DeffinityFirstData;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityFirstDataConnectionString2"
      connectionString="Data Source=LAPTOP-R25MBTNK\SQLEXPRESS2014;Initial Catalog=DeffinityFirstData;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.DeffinityFirstDataDevConnectionString"
      connectionString="Data Source=LAPTOP-R25MBTNK\SQLEXPRESS2014;Initial Catalog=DeffinityFirstDataDev;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.FaithUnionHubDBConnectionString"
      connectionString="Data Source=LAPTOP-R25MBTNK\SQLEXPRESS2014;Initial Catalog=FaithUnionHubDB;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.FaithUnionHubDBConnectionString1"
      connectionString="Data Source=LAPTOP-R25MBTNK\SQLEXPRESS2014;Initial Catalog=FaithUnionHubDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.SmartGivingDBConnectionString"
      connectionString="Data Source=LAPTOP-R25MBTNK\SQLEXPRESS2014;Initial Catalog=SmartGivingDB;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.SmartGivingDBConnectionString1"
      connectionString="Data Source=LAPTOP-R25MBTNK\SQLEXPRESS2019;Initial Catalog=SmartGivingDB;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.PlegitDBConnectionString"
      connectionString="Data Source=LAPTOP-R25MBTNK\SQLEXPRESS2019;Initial Catalog=PlegitDB;Persist Security Info=True;User ID=sa;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.PlegitDBConnectionString1"
      connectionString="Data Source=LAPTOP-R25MBTNK\SQLEXPRESS2019;Initial Catalog=PlegitDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.PlegitDBConnectionString2"
      connectionString="Data Source=MuQaddas\MSSQLSERVER01;Initial Catalog=PlegitDB;Persist Security Info=True;User ID=sada;Password=ems;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="DeffinityManager.Properties.Settings.PlegitDBConnectionString3"
      connectionString="Data Source=MuQaddas\MSSQLSERVER01;Initial Catalog=PlegitDB;Persist Security Info=True;User ID=sada;Password=ems;Pooling=True;Min Pool Size=0;Max Pool Size=100;Connect Timeout=60;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages>
      <namespaces>
        <add namespace="DeffinityManager.DAL" />
      </namespaces>
    </pages>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>