<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="20.1.0" targetFramework="net461" />
  <package id="ClosedXML" version="0.95.4" targetFramework="net451" requireReinstallation="true" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net451" requireReinstallation="true" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net451" />
  <package id="jQuery" version="1.6.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.3" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net461" />
  <package id="Microsoft.Owin.Cors" version="4.2.2" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="RestSharp" version="106.10.1" targetFramework="net461" />
  <package id="stream-chat-net" version="0.26.0" targetFramework="net461" requireReinstallation="true" />
</packages>